In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
engine = create_engine("postgresql://root:root@localhost:5432/green_trip")

In [10]:
df_iter = pd.read_csv("green_tripdata_2019-10.csv", iterator=True, chunksize=100000)

In [11]:
total_rows = pd.read_csv("green_tripdata_2019-10.csv")
len(total_rows)

/tmp/ipykernel_4668/3068111742.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  total_rows = pd.read_csv("green_tripdata_2019-10.csv")

476386

In [12]:
engine.connect()

In [6]:
#df = next(df_iter)
#print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

In [13]:
from time import time
for df in df_iter:
    t_start = time()
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="green_trip_data", con=engine, if_exists="append")
    t_end = time()
    print("inserted another chunk, took %.3f second" % (t_end-t_start))

inserted another chunk, took 10.047 second
inserted another chunk, took 10.080 second
inserted another chunk, took 10.122 second

/tmp/ipykernel_4668/1721041401.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk, took 10.720 second
inserted another chunk, took 6.820 second

In [15]:
df_iter_zone = pd.read_csv("taxi_zone_lookup.csv", iterator=True, chunksize=100000)
from time import time
for df in df_iter_zone:
    t_start = time()
    df.to_sql(name="taxi_zone", con=engine, if_exists="replace")
    t_end = time()
    print("inserted another chunk, took %.3f second" % (t_end-t_start))

inserted another chunk, took 0.071 second

In [17]:
print(df)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]